<h1>Articles</h1>

<% if (user) { %>
  <a href="/articles/create">Create Article</a>
  <a href="/logout">Logout</a>
<% } else { %>
  <a href="/login">Login</a>
<% } %>

<hr />

<% articles.forEach(article => { %>
  <h3><%= article.title %></h3>
  <p><%= article.content %></p>
  <small>By <%= article.author.email %></small>

  <% if (user && (user.role === 'ADMIN' || user.id === article.authorId)) { %>
    <a href="/articles/edit/<%= article.id %>">Edit</a>
    <form action="/articles/delete/<%= article.id %>" method="POST">
      <button>Delete</button>
    </form>
  <% } %>

  <hr />
<% }) %>
